:root{
    --main-color: #FFF; 
    --main-color2:#F5F4FA; 
    --logo-color: #000;
    --logo-color2:#2196F3;
    --background-color:#2F303A;
    --text-color:#212121;
--paragraf-color:#757575;
--footertext-color:rgba(255, 255, 255, 0.6);

}